{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'weatherAtLocation.js' %}"></script>
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <div class="grid">
      <h1>Weather Chart</h1>
      <aside><p>Menu options: </p></aside>
      <figure class="chart-wrap">
        <canvas id="line-chart"></canvas>
        <canvas id="pressure_py_wierden"></canvas>
      </figure>
      <footer>
        <!-- <p>Here is some stuff at the bottom of the page.</p> -->
      </footer>
    </div> 
    <script src="{% static 'multiple_lines.js' %}"></script>
    <script src="{% static 'pressure_py_wierden.js' %}"></script>
  </body>
</html>